/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

/* Colors */
:root {
    --primary-color: #FFA115;
    --secondary-color: #FF5252;
    --accent1-color: #32ACC7;
    --accent2-color: #2D2033;
    --background-color: #C4BEBB;
}

/* Tutorial Content Box */
.tutorial-content-box{
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-self: center;
    justify-items: center;
    width: 100%;
    margin: 30px;
    border: solid 1px black;
}
/* Tutorial Title */
.tutorial-title{
    grid-row: 1/2;
    font-family: 'Chewy';
    color: #883333;
    font-size: 50px;
}
/* Tutorial Subtitle */
.tutorial-subtitle{
    grid-row: 2/3;
    font-family: 'Jost';
    font-size: 30px;
}
/* Tutorial Steps Box */
.tutorial-steps-boxes{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    border: solid 1px black;
}

/* Tutorial Step 1 */
/* Tutorial Step 1 */


/* Tutorial Step 1 Box */
.tutorial-step-1-box{
    margin: 30px;
    border: solid 1px black;
    background-color: #76c7d9;
    padding: 10px;
}
/* Step 1 Title */
.step-1-title{
    font-family: 'Chewy';
    color: #883333;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 1 Subtitle */
.step-1-subtitle{
    font-family: 'Jost';
    font-weight: bold;
    color: #b86500;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 1 Text */
.step-1-text{
    font-family: 'Jost';
}
/* Step 1 Image */
.step-1-image{
    width: 100%;
}

/* Tutorial Step 2 */
/* Tutorial Step 2 */


/* Tutorial Step 2 Box */
.tutorial-step-2-box{
    margin: 30px;
    border: solid 1px black;
    background-color: #76c7d9;
    padding: 10px;
}
/* Step 2 Title */
.step-2-title{
    font-family: 'Chewy';
    color: #883333;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 2 Subtitle */
.step-2-subtitle{
    font-family: 'Jost';
    font-weight: bold;
    color: #b86500;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 2 Text */
.step-2-text{
    font-family: 'Jost';
}
/* Step 2 Image */
.step-2-image{
    width: 100%;
}

/* Tutorial Step 3 */
/* Tutorial Step 3 */


/* Tutorial Step 3 Box */
.tutorial-step-3-box{
    margin: 30px;
    border: solid 1px black;
    background-color: #76c7d9;
    padding: 10px;
}
/* Step 3 Title */
.step-3-title{
    font-family: 'Chewy';
    color: #883333;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 3 Subtitle */
.step-3-subtitle{
    font-family: 'Jost';
    font-weight: bold;
    color: #b86500;
    text-shadow: 3px 3px 3px #ffffff;
}
/* Step 3 Text */
.step-3-text{
    font-family: 'Jost';
}
/* Step 3 Image */
.step-3-image{
    width: 100%;
}



/* Get Started Button */
.tutorial-go-to-recipes-button{
    grid-row: 4/5;
    font-family: 'Chewy';
    font-size: 35px;
    color: #883333;
    text-decoration: none;
    text-shadow: 3px 3px 3px #ffffff;
    background: linear-gradient(to bottom, #e28d0c, #FF5252);
    border: #992121 solid 2px;
    margin: 20px;
    padding: 5px;
}
.tutorial-go-to-recipes-button:hover{
    font-size: 36px;
}


/* Other */
/* Other */

.bold-word{
    font-weight: bold;
}
.italic {
  font-style: italic;
}



