*for tags*/
.recipe-card{
    grid-column: 2;
    margin: 20px;
    width: 75%;
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 10px 8px 10px rgb(172, 172, 172);
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.recipe-card:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 3px 3px 25px #e28c0cc5;
}

.tags{
    display: grid;
    grid-template-columns: 20% 100%;
}

.tags h1{
    grid-column: 1/3;
    text-align: center;
}

.tag-buttons{
    padding: 20px;
    justify-items: center;
}

button{
    /* display: flex; */
    margin: 5px;
}

/* Recipes page */
.selectedrecipe{
    display: grid;
    margin: 20px;
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 10px 8px 10px rgb(172, 172, 172);
    padding: 10px;
}

.selectedrecipe img{
    width: 380px;
    margin-bottom: 20px;
}

.selectedrecipe h1{
    grid-column: 1/3;
    text-align: center;
}

.recipetext{
    padding: 20px;
}