/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

/* Colors */
:root {
    --primary-color: #FFA115;
    --secondary-color: #FF5252;
    --accent1-color: #32ACC7;
    --accent2-color: #2D2033;
    --background-color: #C4BEBB;
}

/* Home Heading Text Box */
.home-heading-box {

}
/* Home Heading */
.home-heading {

}
/* Home Subheading */
.heading-paragraph {
    
}
/* Home Get Started Link */
.home-get-started-links {
    
}
/* Home Get Started Button */
.home-get-started-button {
    
}
/* Home Heading Links Box */
.home-heading-links {
    
}
/* Heading Home Link */
.home-home-link {

}
/* Heading Recipes Link */
.home-recipes-link {
    
}
/* Heading Saved Recipes Link */
.home-saved-recipes-link {
    
}
/* Heading Tutorial Link */
.home-tutorial-link {
    
}
/* Featured Recipe Box */
.featured-recipe-box {
    
}
/* Featured Recipe Title */
.featured-recipe-title {
    
}
/* Featured Recipe Content */
