/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

/* Colors */
:root {
    --primary-color: #FFA115;
    --secondary-color: #FF5252;
    --accent1-color: #32ACC7;
    --accent2-color: #2D2033;
    --background-color: #C4BEBB;
}

/* Home Heading Text Box */
.home-heading-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}
/* Home Heading */
.home-heading {
    grid-row: 1/2;
}
/* Home Subheading */
.heading-paragraph {
    grid-row: 2/3;
}
/* Home Get Started Link */
.home-get-started-links {
    grid-row: 3/4;
}
/* Home Get Started Button */
.home-get-started-button {
    font-family: 'Chewy';
    font-size: 35px;
    color: #883333;
    height: 53px;
    text-decoration: none;
    text-shadow: 3px 3px 3px #ffffff;
    background: linear-gradient(to bottom, #e28d0c, #FF5252);
    border: #992121 solid 2px;
    margin: 5px;
}
/* Home Heading Links Box */
.home-heading-links {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
/* Heading Home Link */
.home-home-link {
    grid-column: 1/2;
}
/* Heading Recipes Link */
.home-recipes-link {
    grid-column: 2/3;
}
/* Heading Saved Recipes Link */
.home-saved-recipes-link {
    grid-column: 3/4;
}
/* Heading Tutorial Link */
.home-tutorial-link {
    grid-column: 4/5;
}
/* Featured Recipe Box */
.featured-recipe-box {
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 10px 8px 10px 5px rgb(172, 172, 172);
    padding: 20px;
    height: auto;
    margin: 30px;
}

/* .featured-recipe-box:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 3px 3px 25px #e28c0cc5;
} */
/* Featured Recipe Title */
.featured-recipe-title {
    grid-row: 1/2;
}
/* Featured Recipe Content */

/* Featured Recipe Img */
.featured-recipe img{
    width: 500px;
    height: 400px;
}
