/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jost:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

/* Colors */
:root {
    --primary-color: #FFA115;
    --secondary-color: #FF5252;
    --accent1-color: #32ACC7;
    --accent2-color: #2D2033;
    --background-color: #C4BEBB;
}

/* Home Heading Text Box */
.home-heading-box {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
}
/* Home Heading */
.home-heading {
    grid-row: 1/2;
    font-family: 'Chewy';
    font-size: 60px;
    color: #883333;
    margin-top: 20px;
}
/* Home Subheading */
.heading-paragraph {
    grid-row: 2/3;
    font-family: 'Jost';
    font-size: 30px;
    color: #551010;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 850px;
}
/* Home Get Started Button */
.home-get-started-button {
    font-family: 'Chewy';
    font-size: 35px;
    color: #883333;
    height: 55px;
    text-decoration: none;
    text-shadow: 3px 3px 3px #ffffff;
    background: linear-gradient(to bottom, #e28d0c, #FF5252);
    border: #992121 solid 2px;
    margin: 5px;
    margin-bottom: 20px;
}
.home-get-started-button:hover{
    font-size: 36px;
    color: #883333;
}
/* Home Heading Links Box */
.home-heading-links {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
/* Heading Home Link */
.home-home-link {
    grid-column: 1/2;
}
/* Heading Recipes Link */
.home-recipes-link {
    grid-column: 2/3;
}
/* Heading Saved Recipes Link */
.home-saved-recipes-link {
    grid-column: 3/4;
}
/* Heading Tutorial Link */
.home-tutorial-link {
    grid-column: 4/5;
}

/* Featured Recipe */
/* Featured Recipe Box */
.featured-recipe-box-outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 10px 8px 10px 5px rgb(172, 172, 172);
    padding: 20px;
    height: auto;
    margin: 30px;
}

/* Featured Recipe Inner Box */
.featured-recipe-box-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: large;
}
/* Featured Recipe Title */
.featured-recipe-title {
    grid-column: 1/3;
    text-align: center;
    font-family: 'Chewy';
    font-size: 60px;
    color: #883333;
}

.featured-recipe-box-inner img{
    max-width: 500px;
}

/* Featured Recipe Name */
.fr-name{
    grid-column: 1/3;
    text-align: center;
    font-family: 'Jost';
    color: black;
}

.fr-recipe-img{
    margin: 30px;
    grid-column: 1/2;
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 5px 10px grey;
}

/* Featured Recipe Price */
.fr-price-title{
    grid-column: 2;
    font-family: 'Chewy';  
    color: #883333;
}
.fr-price{
    font-family: 'Jost';
    color: #2D2033;
}

.fr-ingredients-title{
    margin-top: 40px;
    font-family: 'Chewy';  
    color: #883333;
}

.fr-instructions-title{
    font-family: 'Chewy';  
    color: #883333;
}

.fr-instructions{
    grid-column: 2;
    font-family: 'Jost';
}

.recipe-card strong{
    font-size: 1.5em;
}

.recipe-card ul{
    font-size: 1.2em;
}

/* Featured Recipe Ingredients List */
.fr-ingredients-list{
    font-family: 'Jost';
    color: black;
}
/* Featured Recipe Tags Title */
.fr-tags-title{
    grid-column: 2;
    font-family: 'Chewy';
    color: #883333;
}
/* Featured Recipe Tags */
.fr-tags{
    grid-column: 2;
    font-family: 'Jost';
}
/* "Loading Featured Recipe" Text */
.loading-fr-text{
    font-family: 'Jost';
}